body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.vacancy {
    display: none;
}

label {
    font-size: 1.2em;
    color: #555;
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

span {
    font-weight: bold;
    color: #007bff;
}

select {
    font-size: 1.2em;
    margin-top: 10px;
}

p {
    font-size: 1.1em;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
