body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}

.jobForm {
  margin-top: 20px;
  display: none;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="range"] {
  width: 100%;
}

span {
  font-weight: bold;
}

p {
  font-size: 18px;
}
